<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/dashboard.css">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="dashboard">
            <div class="div">
                <div class="overlap-group">
                    <div class="text-wrapper">HOME</div>
                    <div class="overlap">
                        <div class="text-wrapper-2">REACH</div>
                        <div class="text-wrapper-3">RAPID</div>
                        <img class="r-removebg-preview" src="img/r-removebg-preview-3.png" />
                    </div>
                    <div class="text-wrapper-4">HOTLINES</div>
                    <div class="text-wrapper-5">PROCEDURES</div>
                    <div class="text-wrapper-6">REPORTS</div>
                    <img class="menu" src="img/menu.svg" />
                </div>
                <div class="frame"></div>
                <div class="text-wrapper-7">FEATURED EMERGENCY HOTLINES</div>
                <div class="search-bar">
                    <div class="state-layer">
                        <div class="container-wrapper">
                            <div class="container">
                                <div class="icon-wrapper"><img class="icon" src="img/icon.svg" /></div>
                            </div>
                        </div>
                        <div class="content"><div class="supporting-text">Search here</div></div>
                        <div class="trailing-elements">
                            <div class="container-wrapper">
                                <div class="container">
                                    <div class="icon-wrapper"><img class="icon" src="img/image.svg" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
