<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/hotline.css">
        <title>Hotline</title>
    </head>
    <body>
        <div class="hotlines">
            <div class="overlap-wrapper">
                <div class="overlap">
                    <div class="right-BG"></div>
                    <div class="group">
                        <div class="group-wrapper">
                            <div class="div">
                                <div class="text-wrapper">Logo</div>
                                <div class="group-2">
                                    <div class="card">
                                        <img class="info" src="img/info-2.svg" />
                                        <div class="body">
                                            <div class="text">
                                                <p class="title">DEPARTMENT OF SOCIAL WELFARE AND DEVELOPMENT</p>
                                                <p class="body-text-for">
                                                    Text Hotline:<br />0918-912-2813<br />Trunk line:<br />(02) 8931-8101 to 07<br />Disaster
                                                    Response Unit:<br />(02) 8856-3665<br />(02) 8852-8081
                                                </p>
                                            </div>
                                            <div class="button-group">
                                                <button class="button"><button class="button-2">View</button></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-2">
                                        <img class="info" src="img/image.svg" />
                                        <div class="body">
                                            <div class="text">
                                                <div class="title">Philippine Coast Guard</div>
                                                <p class="body-text-for">
                                                    Hotlines:<br />Telefax:<br />(02) 8527-8481 to 89<br />(02) 8527-3877<br />(02) 8527-3880 to
                                                    85<br />(02) 8527-8482 local 6291<br />Text hotline:<br />0917-PCG-DOTC (0917-724-3682)<br />0918-967-4697
                                                </p>
                                            </div>
                                            <div class="button-group">
                                                <button class="button"><button class="button-2">View</button></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-3">
                                        <img class="info" src="img/info.svg" />
                                        <div class="body">
                                            <div class="text">
                                                <p class="title">NATIONAL CENTER FOR MENTAL HEALTH (NCMH)</p>
                                                <p class="body-text-for">
                                                    Crisis Hotline:<br />Trunk line:<br />0917-899-USAP (8727)<br />989-USAP (8727)<br />(02)
                                                    8531-9001 to 10 local 201
                                                </p>
                                            </div>
                                            <div class="button-group">
                                                <button class="button"><button class="button-2">View</button></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-4">
                                        <img class="info" src="img/info-2.svg" />
                                        <div class="body">
                                            <div class="text">
                                                <div class="title">Philippine National Police (PNP)</div>
                                                <div class="body-text-for">
                                                    Emergency Hotline:<br />117<br />(02) 8722-0650<br />Text hotline:<br />0917-847-5757
                                                </div>
                                            </div>
                                            <div class="button-group">
                                                <button class="button"><button class="button-2">View</button></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-5">
                                        <img class="info" src="img/info.svg" />
                                        <div class="body">
                                            <div class="text">
                                                <p class="title">Bureau of Fire Protection (BFP)</p>
                                                <div class="body-text-for">Direct line:<br />(02) 8426-0219<br />(02) 8426-0246</div>
                                            </div>
                                            <div class="button-group">
                                                <button class="button"><button class="button-2">View</button></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-6">
                                        <img class="info" src="img/info.svg" />
                                        <div class="body">
                                            <div class="text">
                                                <p class="title">NBI-Violence Against Women and Children Desk (VAWCD)</p>
                                                <p class="body-text-for">Hotlines:<br />(02) 8523-8231 to 38<br />(02) 8525-6028</p>
                                            </div>
                                            <div class="button-group">
                                                <button class="button"><button class="button-2">View</button></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-7">
                                        <img class="info" src="img/info-2.svg" />
                                        <div class="body">
                                            <div class="text">
                                                <div class="title">PHILIPPINE RED CROSS</div>
                                                <p class="body-text-for">
                                                    Hotline:<br />National Blood Center:<br />Trunk line:<br />143<br />(02) 8527-8385 to 95<br />(02)
                                                    8527-0000<br />(02) 8790-2300<br />Disaster Management Office:<br />Emergency Response
                                                    Unit:<br />134 (Staff), 132 (Manager), 133 (Radio Room)<br />(02) 8790-2300 local 604<br />Telefax:<br />(02)
                                                    8527-0864
                                                </p>
                                            </div>
                                            <div class="button-group">
                                                <button class="button"><button class="button-2">View</button></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-wrapper-2">HOTLINES</div>
                                <div class="overlap-group">
                                    <div class="group-3">
                                        <div class="group-4">
                                            <div class="text-wrapper-3">HOME</div>
                                            <div class="text-wrapper-4">HOTLINES</div>
                                        </div>
                                        <div class="text-wrapper-5">PROCEDURES</div>
                                        <div class="text-wrapper-6">REPORTS</div>
                                    </div>
                                    <img class="menu" src="img/menu.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
