<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/reports.css">
        <title>Reports</title>
    </head>
    <body>
        <div class="reports">
            <div class="div">
                <div class="overlap">
                    <div class="text-wrapper">Logo</div>
                    <div class="overlap-group">
                        <div class="group">
                            <div class="group-2">
                                <div class="text-wrapper-2">HOME</div>
                                <div class="text-wrapper-3">HOTLINES</div>
                            </div>
                            <div class="text-wrapper-4">PROCEDURES</div>
                            <div class="text-wrapper-5">REPORTS</div>
                        </div>
                        <img class="menu" src="img/menu.svg" />
                    </div>
                </div>
                <div class="frame-wrapper">
                    <div class="frame">
                        <div class="overlap-2">
                            <div class="menu-item-hover">
                                <div class="menu-item-default"><div class="menu-item">Primary button</div></div>
                            </div>
                            <div class="rectangle"></div>
                            <div class="state">
                                <div class="frame-2">
                                    <img class="flag-kenya" src="img/kenya.svg" />
                                    <div class="english">Crime</div>
                                </div>
                                <img class="checkbox" src="img/checkbox-4.png" />
                            </div>
                            <div class="state-2">
                                <div class="frame-2">
                                    <img class="img" src="img/ug.svg" />
                                    <div class="english-2">Abuse</div>
                                </div>
                                <img class="checkbox" src="img/checkbox-6.png" />
                            </div>
                            <div class="state-3">
                                <div class="frame-2"><div class="english-3">Fire</div></div>
                                <img class="checkbox" src="img/image.png" />
                            </div>
                            <div class="state-4">
                                <div class="frame-2"><div class="english-3">Fire</div></div>
                                <img class="checkbox" src="img/checkbox.png" />
                            </div>
                            <div class="state-5">
                                <div class="frame-2"><div class="english-3">Fire</div></div>
                                <img class="checkbox" src="img/checkbox-8.png" />
                            </div>
                            <div class="state-6">
                                <div class="frame-2"><div class="english-3">Fire</div></div>
                                <img class="checkbox" src="img/checkbox-5.png" />
                            </div>
                            <div class="state-7">
                                <div class="frame-2"><div class="english-3">Fire</div></div>
                                <img class="checkbox" src="img/checkbox-2.png" />
                            </div>
                            <div class="state-8">
                                <div class="frame-2"><div class="english-3">Fire</div></div>
                                <img class="checkbox" src="img/checkbox-7.png" />
                            </div>
                            <div class="state-9">
                                <div class="frame-2">
                                    <img class="img" src="img/nigeria.svg" />
                                    <div class="english-4">Accident</div>
                                </div>
                                <img class="checkbox" src="img/checkbox-3.png" />
                            </div>
                            <div class="text-wrapper-6">SELECT TYPE OF REPORT:</div>
                        </div>
                        <div class="overlap-wrapper">
                            <div class="overlap-3">
                                <div class="overlap-group-wrapper">
                                    <div class="overlap-4">
                                        <div class="div-wrapper">
                                            <div class="overlap-group-2">
                                                <div class="clarity-edit-line-wrapper">
                                                    <img class="clarity-edit-line" src="img/clarity-edit-line.svg" />
                                                </div>
                                                <div class="group-3"></div>
                                                <div class="text-wrapper-7">Mon, Nov 17</div>
                                                <div class="text-wrapper-8">Select Date</div>
                                                <img class="fluent-edit" src="img/fluent-edit-28-filled.svg" />
                                            </div>
                                        </div>
                                        <div class="group-4">
                                            <div class="group-5">
                                                <div class="frame-3">
                                                    <div class="text-wrapper-9">S</div>
                                                    <div class="text-wrapper-9">M</div>
                                                    <div class="text-wrapper-9">T</div>
                                                    <div class="text-wrapper-9">W</div>
                                                    <div class="text-wrapper-9">T</div>
                                                    <div class="text-wrapper-9">F</div>
                                                    <div class="text-wrapper-9">S</div>
                                                </div>
                                            </div>
                                            <div class="group-6">
                                                <div class="frame-4">
                                                    <div class="text-wrapper-9">3</div>
                                                    <div class="text-wrapper-10">10</div>
                                                    <div class="text-wrapper-10">17</div>
                                                    <div class="text-wrapper-10">24</div>
                                                </div>
                                                <div class="frame-5">
                                                    <div class="text-wrapper-9">4</div>
                                                    <div class="text-wrapper-10">11</div>
                                                    <div class="text-wrapper-10">18</div>
                                                    <div class="text-wrapper-10">25</div>
                                                </div>
                                                <div class="frame-6">
                                                    <div class="text-wrapper-9">5</div>
                                                    <div class="text-wrapper-10">12</div>
                                                    <div class="text-wrapper-10">19</div>
                                                    <div class="text-wrapper-10">26</div>
                                                </div>
                                                <div class="frame-7">
                                                    <div class="text-wrapper-9">6</div>
                                                    <div class="text-wrapper-10">13</div>
                                                    <div class="text-wrapper-10">20</div>
                                                    <div class="text-wrapper-10">27</div>
                                                </div>
                                                <div class="frame-8">
                                                    <div class="text-wrapper-9">7</div>
                                                    <div class="text-wrapper-10">14</div>
                                                    <div class="text-wrapper-10">21</div>
                                                    <div class="text-wrapper-10">28</div>
                                                </div>
                                                <div class="frame-9">
                                                    <div class="text-wrapper-9">1</div>
                                                    <div class="frame-10">
                                                        <div class="text-wrapper-9">8</div>
                                                        <div class="text-wrapper-10">15</div>
                                                        <div class="text-wrapper-10">22</div>
                                                        <div class="text-wrapper-10">29</div>
                                                    </div>
                                                </div>
                                                <div class="frame-11">
                                                    <div class="frame-10">
                                                        <div class="text-wrapper-9">2</div>
                                                        <div class="text-wrapper-10">9</div>
                                                        <div class="text-wrapper-10">16</div>
                                                        <div class="text-wrapper-10">23</div>
                                                    </div>
                                                    <div class="text-wrapper-10">30</div>
                                                </div>
                                            </div>
                                            <div class="group-7">
                                                <div class="text-wrapper-11">November 2018</div>
                                                <img class="teenyicons-down" src="img/teenyicons-down-solid.svg" />
                                                <img class="mingcute-right-line" src="img/mingcute-right-line.svg" />
                                                <img class="mingcute-right-line-2" src="img/image.svg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-wrapper-12">CANCEL</div>
                                <div class="text-wrapper-13">OK</div>
                            </div>
                        </div>
                        <div class="group-8">
                            <div class="overlap-5"><div class="text-wrapper-14">Label</div></div>
                        </div>
                        <p class="p">Location of incident (street, sitio o purok, barangay, municipality/city, province):</p>
                        <div class="group-wrapper">
                            <div class="group-9">
                                <div class="overlap-group-3"><div class="text-wrapper-15">Enter feedback message here</div></div>
                            </div>
                        </div>
                        <div class="text-wrapper-16">Incident Date and Time</div>
                        <div class="text-wrapper-17">Feedback Message</div>
                    </div>
                </div>
                <div class="text-wrapper-18">REPORTS</div>
            </div>
        </div>
    </body>
</html>
